<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <p:outputPanel style="float: right;">
            <div class="p-grid" style="padding-bottom: 3px;" >
                <p:button outcome="config.xhtml" value="Config"/>
                <p:button outcome="soal1.xhtml" value="Soal 1"/>
                <p:button outcome="soal2.xhtml" value="Soal 2"/>
                <p:button outcome="soal3.xhtml" value="Soal 3"/>
                <p:button outcome="soal4.xhtml" value="Soal 4"/>
                <p:button outcome="soal5.xhtml" value="Soal 5"/>          
        </div> 
        </p:outputPanel>
    </ui:composition>
</html>

